:root{
   scroll-behavior: smooth;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

button{
   cursor: pointer;
}

html {
	box-sizing: border-box;
	font-family: sans-serif;
}

.container{
   max-width: 1440px;
   padding: 0 32px;
   margin: 0 auto;
}


.header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header:before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* background-color: rgba(127, 86, 217, 0.6); */
   background-color: #fff;
   z-index: 2;
   box-shadow: 20px 2px 21px 9px rgb(0 0 0 / 7%);
}

.header__body{
   position: relative;
   display: flex;
   justify-content: space-between;
   height: 80px;
   align-items: center;
}
.header__logo{        
   overflow: hidden;
   z-index: 3;
}

.header__logo img{
   max-width: 100%;
   display: block; 
}

.header__burger{
   display: none;
}

.header__list{
   display: flex;
   position: relative;
   z-index: 2;
}

.header__list li{
   list-style: none;
   margin: 0 0 0 20px;
}
.header__link{      
   color: #667085;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-decoration: none;
}
.header-btn{
   width: 102px;
   height: 48px;
   background-color: #7F56D9;
   color: #ffffff;
   border: none;
   z-index: 2;
}



/* title */


.title-text{
   font-family: 'Oswald';
   font-weight: 400;
   font-size: 63px;
   line-height: 90px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: #101828;
   width: 67vw;
   margin-top: 140px;
   margin-bottom: 0;
   z-index: -4;
   }

.title-content{
   display: flex;
   justify-content: space-between;
}
.title-content p{
   font-family: 'Inter';
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #667085;
   max-width: 375px;
   margin-top:8vh;
   padding-right: 10px;
}

.title-arrow-container{
   position: relative;
}

.title-arrow{
   position: absolute;
   margin-left: 9vw;
   margin-top: -80px;
   width: 42vw;
}

.title-photo{
   width: 55vw;
   height: auto;
   margin-top: -15vh;
   z-index: -1;
   padding-bottom: 200px;
}

.pro-title{
   font-family: 'Oswald';
   font-weight: 400;
   font-size: 44px;
   line-height: 60px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: #101828;
}

.pro-text{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 40px;
}

.pro-text p{
   font-family: 'Inter';
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   color: #667085;
   max-width: 637px;
}

.pro-text button{
   width: 166px;
   height: 24px;
   background-color: #7F56D9;
   color: #fff;
   border: none;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}

.pro-img{
   margin-top: 60px;
}

.pro-img img{
   width: 100%;
   height: auto;
   margin-top: 25px;
}

.info-title{
   margin-top: 190px;
   font-family: 'Oswald';
   font-weight: 400;
   font-size: 60px;
   line-height: 72px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: #101828;
   max-width: 937px;
}

.info{  
   display: flex;
   margin-top: 105px;
   justify-content: flex-end;
   margin-bottom: 130px;
}

.info-svg{
   margin-right: -130px;
   margin-top: 225px;
   z-index: 5;
   width: 20vw;
}

.info-photo{
   width: 55vw;
   height: auto;
}

.info-text{
   font-family: 'Inter';
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   color: #667085;
   max-width: 685px;
   margin: 0 auto;
}

.info-text p{
   margin-bottom: 30px;
}

.info-text button{
   margin-top: 30px;
   background-color: #7F56D9;
   width: 231px;
   height: 43px;
   border: none;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: #FFFFFF;
}

.reviews{
   display: flex;
   margin-top: 200px;
   justify-content: center;
   flex-wrap: wrap;
   gap: 32px;
}

.blog{
   margin-top: 197px;
}

.blog-title{
   font-family: 'Oswald';
   font-weight: 400;
   font-size: 43px;
   line-height: 60px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: #101828;
}

.blog-text{
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   align-items: center;
}

.blog-text p{
   font-family: 'Inter';
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   color: #667085;
   max-width: 606px;
}

.blog-text button{
   background-color: #7F56D9;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   width: 145px;
   height: 50px;
   border: none;
}

.blog-content{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 32px;
}

.blog-container{
   margin-top: 64px;
}

.blog-content-1{
   background-color: #F2F4F7;
   width: 112px;
   height: 26px;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   color: #344054;
   border-radius: 30%;
   padding: 4px 14px;
   margin-top: 25px;
}

.blog-content-2{
   margin-top: 14px;
   font-family: 'Oswald';
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: #101828;
}

.blog-content-3{
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #667085;
   max-width: 619px;
   margin-top: 20px;
}

.read-more{
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #6941C6;
   text-decoration: none;
}

.read-more p{
   margin-top: 30px;
}

.question-container{
   margin-top: 250px;
}

.question{
   margin-bottom: 15px;
}

.question a{
   font-family: 'Oswald';
   font-weight: 400;
   font-size: 56px;
   line-height: 72px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: #101828;
   display: inline-block;
   line-height: 1;
   text-decoration: none;
   cursor: pointer;
   -webkit-transition: all .3s ease;
          transition: all .3s ease;
}

.question a:hover{
   color: #6941C6;
}

.question a:after{
   background-color: #6941C6;
   display: block;
   content: "";
   height: 2px; 
   width: 0%;
   -webkit-transition: width .3s ease-in-out;
   -moz--transition: width .3s ease-in-out;
   transition: width .3s ease-in-out;
 }

.question a:hover:after,
.question a:focus:after {
    width: 100%;
}

.footer{
   margin-top: 140px;
   border-top: 2px solid rgba(102, 112, 133, 0.3);
}

.foot-svg{
   width: 100px;
   height: 21px;
   margin-top: 65px;
}

.foot-ul{
   margin-top: 32px;
   display: flex;
   gap: 32px; 
   border-bottom: 2px solid rgba(102, 112, 133, 0.3);  
   padding-bottom: 65px;
}

.foot-li{
   text-decoration: none;
   list-style: none;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #667085;
}

.foot-foot{
   display: flex;
   justify-content: space-between;
   font-family: 'Inter';
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
   color: #98A2B3;
   padding: 32px 0;;
}

.foot-foot li{
   list-style: none;
}

.foot-foot1{
   display: flex;
   gap: 4px;
}

.foot-foot2{
   display: flex;
   gap: 32px;
}




/* burger-menu */
@media (max-width: 767px){
   body.lock{
      overflow: hidden;
   }
   .header__body {
      height: 50px;
      position: relative;
      padding-right: 75px;
   }
  
   .header__burger {
      display: block;
      width: 30px;;
      height: 20px;
      z-index: 3;
      position: absolute;
      right: 15px;
   }
   .header__burger span{
      position: absolute;
      background-color: #667085;;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }
   .header__burger:before,
   .header__burger:after{
      content: "";
      background-color: #667085;;  
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }
   .header__burger:before{
      top: 0;
   }
   .header__burger:after{
      bottom: 0;
   }
   .header__burger.active:before{
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active:after{
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .header__burger.active span{
      transform: scale(0);
   }
   .header__menu{
      position: fixed;
      top: -100%;  
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #7F56D9; 
      padding: 30px 10px 20px 10px;
      transition: all 0.3s ease 0s;
   }
   .header__menu.active{
      top: 0;
   }
   .header__list{
      display: block;
      padding: 40px;
   }
   .header__link{
      color: #fff;
      line-height: 2;
      font-size: 20px;
   }
   .header__list li{
      margin: 0 0 20px 0;
   }
}

@media (max-width: 830px){
   .blog{
      margin-top: 100px;
   }
   .blog-text{
      flex-direction: column;
   }
   .blog-text button{
      margin-top: 20px;
   }
   .blog-container img{
      width: 90vw;
   }
}

@media (max-width: 768px){
   .title-text{
      margin-top: 75px;
      font-size: 45px;
      line-height: 60px; 
      width: 100%;     
   }
   .title-content{
      display: block;
   }
   .title-content p{
      margin: 0 auto;
      padding: 20px 0 20px 0;
   }
   .title-photo{
      display: block;
      margin: 0 auto;
      padding-bottom: 50px;
   }
   .title-arrow{
      margin-top: 160px;
      width: 30vw;
   }
   .pro-title{
      font-size: 35px;
   }
   .pro-text{
      flex-direction: column;
   }
   .pro-text button{
      margin-top: 20px;
   }
   .info-title{
      font-size: 45px;
      margin-top: 100px;
   }
   .info-svg{
      margin-right: -75px;
   }
   .reviews{
      margin-top: 100px;
   }
   .reviews img{
      width: 90vw;
   }
   .question-container{
      margin-top: 100px;
   }
   .question a{
      font-size: 35px;
   }
   .foot-foot1{
      flex-direction: column;
   }
   .foot-foot2{
      gap: 5px;
      flex-direction: column;
   }
}
